<form #form="ngForm" (ngSubmit)="processForm()">
  <table>
    <tr>
      <td>Name: </td>
      <td><input type="text" name="name" ngModel required></td>
    </tr>
    <tr>
        <td>Phone: </td>
        <td><input type="text" name="phone" ngModel required></td>
      </tr>
      <tr>
          <td>Email: </td>
          <td><input type="text" name="email" ngModel required email></td>
        </tr>
        <tr>
            <td><button type="submit" [disabled]="form.invalid">
              Add
            </button>
            </td>
            <td>
              <p>
                valid : {{form.valid}},
                invalid: {{form.invalid}}
              </p>
            </td>
        </tr>
  </table>
</form>